<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Pessoa</title>
    <%- include("../partials/cabecalho.ejs") %>
</head>

<body>
    <div class="container">
        <h1>Cadastro de Pessoa</h1>
        <form action="/pessoas" method="post">
            <input type="hidden" name="id" value="<%= pessoa.id %>">
            <div <%= escondido %> class="mb-3">
                <label class="form-label">Código</label>
                <input type="text" value="<%= pessoa.codigo %>" required class="form-control" name="codigo">
            </div>
            <div class="mb-3">
                <label class="form-label">Nome</label>
                <input type="text" value="<%= pessoa.nome %>" required class="form-control" name="nome">
            </div>
            <div class="mb-3">
                <label class="form-label">Idade</label>
                <input type="text" value="<%= pessoa.idade %>" required class="form-control" name="idade">
            </div>
            <div>
                <button type="submit" class="btn btn-success">Salvar</button>
            </div>
        </form>
        <div>
            <a href="/pessoas">Voltar</a>
        </div>
        <%- include("../partials/rodape.ejs") %>
    </div>
</body>

</html>